#galery{
    width: 90%;
    
}

#galery figure{
    width: 32%;
}

/* do rodzielczość 992 stosuje poniższe reguły*/
@media (max-width:992px){
    #galery figure{
        width: 49%;
    }
}
    
    


